.container {
    padding-top: 40px;
    text-align: center;
}
.container h2 {
    padding-bottom: 15px;
}

.container p {
    padding-bottom: 5px;
}

.container .add {
    padding: 10px 45px;
    font-size: 20px;
    margin-top: 5px;
}


