<div class="container">
    <h2>Listado de todas las obras</h2>
    <button [routerLink]='["/add"]'>Añadir nueva obra</button>
    <div class="filter">
        <h3>Filtros</h3>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Tipos </mat-label>
                <mat-select  name="tipo" [(ngModel)]='tipo' >
                  <mat-option *ngFor="let tipo of tiposList" [value]="tipo">{{tipo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Generos </mat-label>
                <mat-select  name="genero" [(ngModel)]='genero' >
                  <mat-option *ngFor="let genero of generosList" [value]="genero">{{genero}}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </div>
    <div class="list">
        <ul *ngIf='tipo === "Todos" && genero === "Todos"'>
            <li *ngFor="let serie of series">
                <a [routerLink]='["/obra", serie._id]'>
                    {{serie.titulo}}
                </a>
            </li>
        </ul>
        <ul *ngIf='tipo != "Todos" && genero === "Todos"'>
            <li *ngFor="let serie of series | tipoSerie:tipo">
                <a [routerLink]='["/obra", serie._id]'>{{serie.titulo}}</a>
            </li>
        </ul>
        <ul *ngIf='tipo === "Todos" && genero != "Todos"'>
            <li *ngFor="let serie of series | generoSerie:genero ">
                <a [routerLink]='["/obra", serie._id]'>{{serie.titulo}}</a>
            </li>
        </ul>
        <ul *ngIf='tipo != "Todos" && genero != "Todos"'>
            <li *ngFor="let serie of series | tipoSerie:tipo | generoSerie:genero">
                <a [routerLink]='["/obra", serie._id]'>{{serie.titulo}}</a>
            </li>
        </ul>
    </div>
</div>


